<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> Login: </h1>
<a href="/home/index">home</a>
<form method="post">
    Name: <input type="text" name="naam" required>
    Password: <input type="text" type="password" name="pw" required>
    <input type="submit" name="logging">
</form>
{# <a href="createUser">Nog geen account?</a> #}
</body>
</html>